@page
@model IndexModel
@{
    ViewData["Title"] = "Todo App";
}

<div class="text-center">
    <img src="images/photo.jpg" alt="Some picture from the web" width="600" height="800">
</div>

<div>
    <form class="form-inline" method="post">
        <input type="text" id="todo" name="todo" value="" />
        <button type="submit">Submit</button>
    </form>
</div>

<div>
    <ul>
        @foreach (string todo in Model._todos)
        {
            <li>@todo</li>
         }
    </ul>
</div>

<div class="text-center">
    <p>DevOps with Kubernetes 2025</p>
</div>
