apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: project
  name: todoapp-claim
spec:
  storageClassName: standard-rwo
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
